* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../img/bg.png);
    color: #333;
    font: 8pt "Helvetica Neue", Calibri, Verdana, sans-serif;
    overflow: hidden;
}

.codeField {
    font-size:10pt;
}

h1 a {
    text-shadow: 1px 1px 1px #000;
    letter-spacing: -2px;
    font-size: 14pt;
    color: #FFF;
    text-decoration: none !important;
}

h1 em {
    color: #F5003D;
    font-size: 20pt;
    font-style: normal;
}

h2 {
    margin: 10px;
    
}

sup {
    font-style: italic;
    font-weight: normal;
}

a {
    color: #F5003D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.topBar {
    background: url(../img/bgHead.png);
    border-bottom: 2px solid #F5003D;
    padding-top: 5px;
    padding-bottom: 10px;
}

.header {
    padding-left: 10px;
}

.add {
    margin: 10px
}

textarea {
    background: url(../img/bg.png);
    color: #333;
    border: 2px solid #DDD;
    padding: 10px;
    width: 98%;
    height: 400px;
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.pastebutton {
    padding: 2px 10px 2px 10px;
    margin-right: 30px;
}

input {
    margin: 10px 0px; 
    color: #333;
    border: 1px solid #AAA;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
}

input:hover {
    background: #EEE;
}